/*binway工单样式 - no*/
/*工单页面*/
#order-left {
	position: absolute;
	border-left:1px solid #f5f5f5;
	border-right:1px solid #f5f5f5;
	width: 130px;
	padding:10px;
	_height:560px;
	min-height:560px;
	background-color: #f5f5f5;
	border-radius: 4px;
	color: #999;
	padding-top: 25px; 
	height: 100%;
}
#order-middle {
	position: absolute;
	border-right:1px solid #f5f5f5;
	width: 260px;
	padding:10px;
	height:560px;
	margin-left:130px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	height: 100%;
}
#order-right {
	overflow-y: scroll; 
	position: absolute;
	float: right;
	border-right:1px solid #f5f5f5;
	width: 61%;
	padding-left:50px;
	height:560px;
	margin-left:353px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	height: 100%;
}
/*工单中栏标题区域和工单右栏编辑器*/
/*#order-middle {
	position: absolute;
	border-right:1px solid #f5f5f5;
	width: 260px;
	padding:10px;
	height:560px;
	margin-left:130px;
	margin-top:110px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	height: 84%;
}
#order-middle-top {
	position: absolute;
	border-right:1px solid #f5f5f5;
	width: 260px;
	padding:10px;
	margin-left:130px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
}
#order-right {
	overflow-y: scroll; 
	position: absolute;
	float: right;
	border-right:1px solid #f5f5f5;
	width: 61%;
	padding-left:50px;
	height:560px;
	margin-left:353px;
	margin-top:200px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	height: 71%;
}
#order-right-top {
	position: absolute;
	float: right;
	border-right:1px solid #f5f5f5;
	width: 61%;
	padding-left:50px;
	margin-left:353px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
}*/
/*工单中栏标题区域和工单右栏编辑器*/
#order-body {
	position: absolute;
	height:560px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
}
.badges {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 10px;
	line-height: 1;
	color: #428bca;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #fff;
	border-radius: 10px;
}
.order-ued {
	position:fixed;
	bottom:0;
}
.lev {
	height: 50px;
	line-height: 5px;
	font-size: 12px;
}
.levs {
	height: 50px;
	line-height: 35px;
	font-size: 10px;
}
a.hover-order-left:hover, a.order_title:hover, 
a.name-body-title:hover, a.order_pushpin:hover, a.more:hover {
	text-decoration:none;
}
.order_pushpin {
	float: right;
}
.hover-order-left {
	font-size: 13px;
	font-weight: bold;
}
.order_title_name {
	font-size: 13px;
}
.order_title_time {
	/*color: #bbb;*/
	color: #999;
	font-size: 1em;
	/*float: right;*/
	font-size: 12px;
}
.hr-middle {
	BORDER-BOTTOM-STYLE: dotted;
	BORDER-LEFT-STYLE: dotted;
	BORDER-RIGHT-STYLE: dotted;
	BORDER-TOP-STYLE: dotted;
}
.order-title-right {
	/*background-color: #080808;*/
	background-color: #f5f5f5;
	color: #333;
	opacity: 0.8;
}
.order-title-alert {
	padding: 7px;
	margin-right: 18px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-size: 12px;
}
.media-border-radius {
	border-radius: 50%;
	border: 1px solid #eaeaea;
	height: 30px;
	width: 30px;
}
.heading-media {
	padding: 0 0 5px 0;
	font-size: 12px;
}
.time {
	color: #bbb;
	padding-left: 5px;
	font-size: 12px;
}
.ids {
	padding-left: 5px;
	font-size: 12px;
}
.title-media {
	padding: 0 0 5px 0;
}
.body-media {
	color: #333;
	font-size: 13px;
	line-height: 18px;
	margin-right: 18px;
	font-family: "Lucida Sans Unicode","Lucida Grande","tahoma",Verdana,sans-serif;
}
.order-text-media {
	/*padding-left:40px; */
}
/*.order-text {
	width: 90%;
	height: 108px;
	resize:none;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
/*binway需求输入框可上下拉伸*/
.order-text {
	width: 90%;
	height: 108px;
	resize:vertical;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*binway需求输入框可上下拉伸*/
/*富文本编辑器*/
.editor-text {
	padding: 1px 40px;
	line-height: 1.428571429;
	vertical-align: middle;
}
.order-text-hide {
	/*width: 670px;*/
	width: 90%;
	height: 108px;
	resize:none;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #eee;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.fileinput-button-text {
	/*float: right;
	margin-top: 3px;
	margin-right: 27px;*/
	float: left;
	padding: 3px 0 0 0;
	margin-left: 40px;
	font-size: 13px;
	border-bottom: 1px dotted #146eaa;
}
.file_l1 {
	color: #ccc;
	height: 30px;
	font-size: 13px;
	margin-left: 8px;
	float: left;
	padding: 3px 0 0 0;
}
.filemultipart-button-text {
	float: left;
	padding: 3px 0 0 0;
	/*margin-left: 40px;*/
	margin-left: 8px;
	font-size: 12px;
}
.task-button-text {
	float: left;
	padding: 3px 0 0 0;
	font-size: 12px;
}
.fileinput-task-text {
	float: right;
	margin-top: 3px;
	font-size: 12px;
	border-bottom: 1px dotted #146eaa;
}
.market-text {
	float: left;
	padding: 3px 0 0 0;
	margin-left: 40px;
	font-size: 12px;
	border-bottom: 1px dotted #146eaa;
}
.l1 {
	color: #ccc;
	height: 30px;
	font-size: 11px;
}
.l11 {
	float: right;
	padding: 3px 0 0 0;
	color: #456b6a;
	font-size: 12px;
}
.labels {
	display: inline;
	padding: 0.2em 0.5em 0.2em;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.btn-sms {
	display: inline-block;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: 1em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.label-sms {
	display: inline;
	padding: .2em .2em .2em;
	font-size: 1em;
	line-height: 1;
	color: #456b6a;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #e3e5cf;
}
.pull-right {
	float: right;
}
.pull-right-as {
	padding-right: 5px;
	text-decoration:none;
}
.askreply-id {
	float: right;
	margin-right: 18px;
}
.labels-sms {
	display: inline;
	padding: .1em .1em .1em;
	font-size: 1em;
	line-height: 1;
	color: #456b6a;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #e3e5cf;
	margin-left: 2px;
}
.order-title-filter {
	padding-right: 3px;
}
.order-title-filters {
	margin-top: 12px;
}
.btn-filters {
	display: inline-block;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.filter-end {
	padding-left: 3px;
	color: #999;
	font-size: 10px;
}
/*工单创建*/
#create-order-right {
	position: absolute;
	float: right;
	width: 50%;
	padding:10px;
	height:560px;
	margin-left:130px;
	overflow:scroll;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
}
.create-form-control {
	display: block;
	width: 100%;
	resize:none;
	height: 180px;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.task-form-control {
	display: block;
	width: 100%;
	resize:none;
	height: 110px;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.orderimage {
	text-align: center;
}
.carets {
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: -2px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid #333;
	border-bottom: 4px solid transparent;
	border-left: 0 dotted;
}
.label-ua {
	padding-top: 5px;
	font-size: 1em;
}
.mark-sms {
	display: inline;
	padding: .1em .1em .1em;
	font-size: 12px;
	line-height: 1;
	color: #456b6a;
	text-align: center;
	/*white-space: nowrap;*/
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #faebcc;
}
.mark-align {
	padding-bottom: 2px;
}
.search-like {
	padding-right: 2px;
}
.sphtml {
	padding-left: 3px;
}
.media-ask-reply-bgc {
	background-color: #fcf8e3;
	padding:10px;
	border-radius: 4px;
	font-size: 12px;
}
.form-control-search {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.media-active {
	padding: 3px;
	border-radius: 4px;
	/*background-color: #faf3be;*/
	background-color: #f5f5f5;
}
.caret-desktop {
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: -2px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid #000;
	border-bottom: 4px solid transparent;
	border-left: 0 dotted;
}
.order-cc {
	width: 500px;
	height: 100px;
	resize:none;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.order-reply-remark {
	width: 530px;
	height: 108px;
	resize: none;
	padding: 6px 12px;
	font-size: 11px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-pupre {
	color: #fff;
	background-color: #6f5499;
	border-color: #6f5499;
}
.btn-pink {
	color: #fff;
	background-color: #b73766;
	border-color: #b73766;
}
.mores {
	padding-left: 65px;
	font-size: 12px;
}